@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?74351636');
  src: url('../font/fontello.eot?74351636#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?74351636') format('woff2'),
       url('../font/fontello.woff?74351636') format('woff'),
       url('../font/fontello.ttf?74351636') format('truetype'),
       url('../font/fontello.svg?74351636#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74351636#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-trash:before { content: '\e807'; } /* '' */
.icon-th-list:before { content: '\e808'; } /* '' */
.icon-cog:before { content: '\e809'; } /* '' */
.icon-mail-1:before { content: '\e80a'; } /* '' */
.icon-calendar-1:before { content: '\e80b'; } /* '' */
.icon-signal:before { content: '\e80c'; } /* '' */
.icon-wifi:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-star-empty:before { content: '\e80f'; } /* '' */
.icon-star:before { content: '\e810'; } /* '' */
.icon-toggle-off:before { content: '\e811'; } /* '' */
.icon-toggle-on:before { content: '\e812'; } /* '' */
.icon-attach:before { content: '\e813'; } /* '' */
.icon-hourglass:before { content: '\e814'; } /* '' */
.icon-at:before { content: '\e815'; } /* '' */
.icon-home-outline:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-book:before { content: '\e818'; } /* '' */
.icon-mobile-alt:before { content: '\e819'; } /* '' */
.icon-dollar:before { content: '\e81a'; } /* '' */
.icon-globe:before { content: '\e81b'; } /* '' */
.icon-globe-inv:before { content: '\e81c'; } /* '' */
.icon-at-1:before { content: '\e81d'; } /* '' */
.icon-money:before { content: '\e81e'; } /* '' */
.icon-cog-1:before { content: '\e81f'; } /* '' */
.icon-attach-1:before { content: '\e820'; } /* '' */
.icon-trash-1:before { content: '\e821'; } /* '' */
.icon-star-1:before { content: '\e822'; } /* '' */
.icon-desktop:before { content: '\e823'; } /* '' */
.icon-laptop:before { content: '\e824'; } /* '' */
.icon-logout:before { content: '\e825'; } /* '' */
.icon-plus:before { content: '\e826'; } /* '' */
.icon-minus:before { content: '\e827'; } /* '' */
.icon-cancel-1:before { content: '\e828'; } /* '' */
.icon-edit:before { content: '\e829'; } /* '' */
.icon-pencil:before { content: '\e82a'; } /* '' */
.icon-cancel-circled:before { content: '\e82b'; } /* '' */
.icon-plus-circled:before { content: '\e82c'; } /* '' */
.icon-minus-circled:before { content: '\e82d'; } /* '' */
.icon-edit-1:before { content: '\e82e'; } /* '' */