.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}

.content-main {
    width: 75%;
    margin: auto;
}

.header-main {
    color: #337ab7;
    text-align:center;
}
.text-main{
    text-align: center;
}