.content {
	width: 100%;
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
	position: relative;
}
footer {
	height: 170px;
	margin-top: -70px;
	background-color: #dadada;
	position: relative;
}
.nav-top {
	height: 50px;
}
.btn-link{
	padding: 0 15px;
	height: 50px;
	border:none;
	background:none;
	cursor:pointer;
}
.btn-link:hover {
	background-color: #ededed;
	text-decoration: none;
}
.form-reg, .form-res, .form-account, .form-payment, .form-pass, .form-comment, .form-tariff, .form-close{
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}
.form-close {
	width: 400px;
}
.form-comment {
	width: 500px;
}
.form-payment {
	width: 420px;
}
.form-account {
	width: 420px;
}
#form-register {
	width: 530px;
}
.form-tariff {
	width: 450px;
}
.form-group-inline {
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
}
.input {
	display: inline-block;
	float: right;
	width: 300px;
}
.text-menu {
	font-size: 16px;
}
.text-main, .text-main-head {
	font-size: 18px;
	font-weight: bold;
}
.text-main-head {
	width: 70%;
	margin: auto;
	color: #2e6da4;
}
.form-res {
	margin-top: 45px;
}
.form-group-inline label {
	margin-top: 6px;
}
.container {
	margin:auto;
	margin-top: 50px;
	width: 60%;
}
.head {
	margin: 0px;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #243048;
	color: white;
	text-align: center;
	padding: 15px;
}
.lang-select {
	float: right;
	display: inline-block;
	width: 60px;
	margin-bottom: 0px;
	margin-top: 13px;
	margin-right: 15px;
}
#language {
	background-color: #243048;
	font-size: 12px;
	color: white;
	padding: 0px;
	height: 25px;
}
.return {
	display: block;
	margin: auto;
	text-align: center;
}
.hidden {
	display: none;
}
.link {
	display: block;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
}
.back {
	display: block;
	margin:auto;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.error-description {
	text-align: center;
	color: #2e6da4;
}
.navbar {
	display: inline-block;
	clear: both;
}
.btn-ref{
	float: right;
	margin-top: 11px;
	margin-right: 25px;
	background-color: #243048;
	color: white;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}
.btn-login-submit {
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 25px;
	background-color: #243048;
	color: white;
}
.btn-login-submit:hover, .btn-login-submit:active, .btn-ref:hover, .btn-ref:active {
	color: #098dff;
}
.login-content, .account-content, .payment-content, .pass-content, .comment-form-content, .tariff-form-content, .close-content {
	margin: 0px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 35px;
	background-color: rgb(241, 241, 241);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.navbar {
	display: block;
	border-radius: 0px;
	border: 0px;
}
.nav-color {
	background-color: #243048;
}
.menu {
	display: inline-block;
}
.text-menu {
	color: #F4F7F7;
}
.navbar-nav {
	margin-left: 25px;
}
.tariff-name {
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
.client-menu {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.client-menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: white;
	background-color: rgba(10, 23, 70, 0.72);
	padding: 0 30px;
	font-size: 16px;
	border-top: 1px solid #337ab7;
}
.client-menu li:first-child a {
	border-top: none;
}
.client-menu li a:hover {
	background-color: #243048;
	color: #337ab7;
	transition: 0.35s ease;
}
.tariffs-container{
	width: 45%;
	margin: 20px auto;
}
.comments-container {
	margin: 20px auto;
 }
.delete-comment, .button-back {
	position: fixed;
	top: 300px;
	right: 70px;
	opacity: 0.4;
	padding: 15px 30px;
}
.button-back {
	top: 70px;
	left: 15px;
	padding: 15px 15px;
	opacity: 0.6;
	z-index: 1000;
}
.delete-comment:hover, .button-back:hover {
	opacity: 0.8;
}
.table-tariffs {
	font-size: 14px;
	background-color: white;
}
.table-tariffs tbody tr td {
	border: none;
}
.table-tariffs tbody tr td:first-child {
	width: 40%;
	font-weight: bold;
	text-align:left;
}
.table-requests tbody tr td:first-child {
	width: 35%;
}
.client-requests-list {
	width: 90%;
	margin: auto;
}
.header {
	text-align: center;
}
.client-container {
	position: relative;
	padding: 20px 40px 40px 40px;
	background-color: rgb(251, 251, 251);
}
.span-label {
	display: inline-block;
	width:200px;
	text-align: right;
	margin: 10px 20px 10px 0px;
	font-size: 18px;
	font-weight: bold;
	color: #1e2738;
	vertical-align: top;
}
.span-content {
	display: inline-block;
	width:400px;
	text-align: left;
	margin: 10px 0px 10px 20px;
	font-size: 18px;
	color:#2e6da4;
	vertical-align: top;
}
.account-span-label {
	display: inline-block;
	width:30%;
	text-align: right;
	margin: 10px 0px 10px 0px;
	padding-right:20px;
	font-size: 15px;
	font-weight: bold;
	color: #1e2738;
	vertical-align: top;
}
.account-span-content {
	display: inline-block;
	width:69%;
	text-align: left;
	margin: 10px 0px 10px 0px;
	padding-left: 20px;
	font-size: 15px;
	color:#2e6da4;
	vertical-align: top;
}
.title-profile {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 15px;
	color: #1e2738;
}
.profile-info li {
	display: block;
}
.text-red {
	color: red;
}
.text-green {
	color: green;
}
.result-label {
	text-align: center;
	color: #11138b;
}
.comment-block, .table-block{
	width: 650px;
	margin: 0 auto 30px auto;
	padding: 35px;
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.45);
}
.removable {
	padding-top: 45px;
	position:relative;
}
.checkbox-remove {
	position: absolute;
	top: 15px;
	right: 15px;
}
.comment-sender {
	font-weight: bold;
	margin-top: 0px;
}
.comment-date {
	float: right;
	font-size: 15px;
	font-style: italic;
	color: gray;
	font-weight: normal;
}
.comment-header {
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 20px;
}
.comment-text {
	margin-bottom: 0px;
}
.add-comment {
	display: block;
	float: right;
	font-size: 18px;
	line-height: 18px;
	margin: 0 auto;
	color: #373737;
	background-color: white;
	border-radius: 5px;
	padding: 7px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.45);
	text-align: center;
}
.add-btn-block {
	width: 650px;
	margin: 20px auto 20px auto;
	height: 40px;
}
.request-btn {
	float: right;
	margin-right: 20px;
	margin-left: 20px;
}
.text-client li {
	font-size: 18px;
	line-height: 35px;
	text-align: center;
}
.text-client {
	width: 50%;
	margin: auto;
	list-style-type: none;
	padding-left: 0px;
}
.main-btn {
	margin: 0 auto;
	display: block;
	height: 45px;
	line-height: 45px;
	background-color: #22953e;
	width: 200px;
	text-align: center;
	text-decoration: none;
	color: white;
	font-size: 18px;
}
.main-btn:hover, .main-btn:active, .main-btn:visited {
	text-decoration: none;
	background-color: #1d6c31;
	color: white;
}
.ref-profile {
	background: #fbfbfb;
	display: inline-block;
	float: right;
	padding: 10px 15px;
	margin: 10px;
	border: 1px solid;
	text-decoration: none;
	border-radius: 5px;
}
.profile-nav {
	padding-right: 80px;
}
.ban-content {
	width: 85%;
}
.ban-header {
	text-align: center;
}
.contacts-address {
	display: inline-block;
	width: 40%;
}
.contacts-email {
	width: 40%;
	float: right;
	display: inline-block;
}
.content-contacts {
	width: 50%;
	margin: 0 auto;
}
.date-info {
	margin: auto;
	padding: 20px;
	position: absolute;
	bottom: 0px;
	right: 20px;
	font-size: 18px;
}
.err-back{
	width: 150px;
	margin: 0 auto;
	display: block;
}
.err-head {
	text-align: center;
	font-size: 100px;
}
.star {
	color: red;
	margin-left: 3px;
	font-size: 16px;
}