<%@ taglib prefix="ctg" uri="/WEB-INF/tld/custom.tld" %>,
<footer>
    <div class="content-contacts">
        <br/>
        <br/>
        <div class="contacts-address">
            <span class="icon-home"></span><fmt:message key="starNetAddress"/><br/><br/>
            <span class="icon-phone"></span> +37529-111-22-33 <br/><br/>
            <span class="icon-mail"></span> <a href="mailto:provider.starnet@gmail.com">provider.starnet@gmail.com</a>
        </div>

        <div class="contacts-email">
            <strong><fmt:message key="support"/> </strong><a href="mailto:support@gmail.com">support@gmail.com</a><br/><br/>
            <strong><fmt:message key="ads"/> </strong><a href="mailto:support@gmail.com">ads@gmail.com</a>
        </div>
        <div class="date-info"><ctg:info-date/></div>
    </div>
</footer>